.deposit-withdrawal-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.deposit-withdrawal-container h1 {
    border-bottom: 2px black solid;
    padding: 15px;
    margin-bottom: 25px;
}

.deposit-withdrawal-container input {
    background-color: rgb(245, 244, 244);
    border: none;
    border-bottom: 1.5px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

.deposit-withdrawal-container input:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.25s;
}

.dep-and-withdrawal-buttons button {
    background-color: rgb(255, 199, 8);
    border: 0;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    padding: 5px 12px;
    margin: 25px 5px;
    font-weight: bold;
}

.dep-and-withdrawal-buttons button:hover {
    background-color: rgba(255, 196, 1, 0.707);
    transition: 0.25s;
}
