.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 150px;
}

.login-components {
    border: solid 2px black;
    border-radius: 3px;
    padding: 70px 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#first-login-input, #second-login-input {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.login-container h1 {
    text-align: center;
    border-bottom: 2px black solid;
    padding: 15px;
    margin-bottom: 45px;
    font-size: 35px;
    width: 150px;
}

.login-inputs input {
    background-color: rgb(245, 244, 244);
    border: none;
    border-bottom: 1.5px solid black;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

.login-inputs input:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.25s;
}

.login-container button {
    background-color: rgb(255, 199, 8);
    border: 0;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    padding: 8px 85px;
    margin: 15px 15px;
}

.login-container button:hover {
    background-color: rgba(255, 196, 1, 0.707);
    transition: 0.25s;
}